.resume-title {
    cursor: pointer;
    color: #0073e6; /* Initial color */
    transition: color 0.3s ease;
  }
  
  .resume-title:hover {
    color: #005bb5; /* Color on hover */
    text-decoration: underline; /* Underline on hover */
  }
  
  